html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
.tile {
    background-color: grey;
    color: white;
    float: right;
}

.tile h1 {
    font-size: 1.2em;
}

.tile p {
    margin: 0;
    padding: 0;
}

.adr{
    padding-top: 0.5em;
}

.info{
    padding-top: 0.5em;
}