.logoPlacement{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.indexBtn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#reduceBtn{
    margin-left: 50px;
    margin-right: 50px;
}

#reduceBtn, #filterBtn, #backBtn{
    color: orange;
    text-decoration: none;
}

#backBtn{
    text-align: center;
    margin-left: 280px;
}

#backRedBtn{
    text-align: center;
    margin-left: 220px;
    color: orange;
    text-decoration: none;
}

a{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary.focus, .btn-primary:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-decoration: none!important;
}