@font-face {
  font-family: 'Vos-Trail';
  src:
    url('fonts/Vos-Trail.ttf?5ys0ku') format('truetype'),
    url('fonts/Vos-Trail.woff?5ys0ku') format('woff'),
    url('fonts/Vos-Trail.svg?5ys0ku#Vos-Trail') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Vos-Trail' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-happy2:before {
  content: "\e9e0";
}
.icon-angry:before {
  content: "\e9ed";
}
.icon-hipster2:before {
  content: "\e9fa";
}
