  h1 {
    font-size: 3.5rem;
    color: orange;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: orange;
  }
  
  h3 {
    font-size: 20px;
    margin: 1.5rem 0 1rem;
    color: orange;
  }
  
  h1,h2,h3{
    font-family: 'Do Hyeon', sans-serif;
  }
