th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: midnightblue;
    color: white;
    
}
th span:hover {
    cursor: hand;
    cursor: pointer;
    color: white;
    background-color: black;
}

th:hover{
    color: white;
    background-color: black;
}

tr, th{
    border: 1px solid #ddd;
    padding: 8px;
}

tr{
    background-color: dodgerblue;
}

tr:nth-child(even){
    background-color: deepskyblue;
}

tr:hover {
    background-color: lightskyblue;
    
}

caption{
    font-size: xx-large;
}

table{
    float: left;
    margin-right: 50px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}