img {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
  }

  html {
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    margin: 0;
    line-height: 1.6;
    color: #4B3520;
    position: relative;
  }
  
  #map {
    height: 100vh;
    width: 100%;
  }
  
  .title {
    display: none;
  }
  
  @media screen and (min-width: 800px) {
    .title {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background: silver;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      z-index: 99999;
    }
  }
  
  .title h1 {
    text-align: center;
    background: black;
    color: silver;
    border-top-left-radius: 50px;
    padding: 1rem 1rem 1.5rem;
    line-height: 1;
  }
  
  .title p,
  .leaflet-container a.leaflet-popup-close-button {
    color: black;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Patrick Hand SC", sans-serif;
    margin: 0;
    line-height: 1.1;
    color: black;
    font-weight: 400;
  }
  
  p,
  .leaflet-popup-content p {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: .2rem;
    font-weight: 400;
    color: black;
  }
  
  h1 {
    font-size: 3.5rem;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #A03728;
  }
  
  h3 {
    font-size: 20px;
    margin: 1.5rem 0 1rem;
  }

#city {
    padding: 0 1rem 1rem 1rem;
  }